<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Création de compte</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Créez un compte ici : </h1>
    <form action="/create" method="post">
        Identifiant: <input type="text" name="username" required><br>
        Mot de passe: <input type="password" name="password" required><br>
        <button type="submit">Créer</button>
    </form>
    <p>vous avez déjà un compte ? <a href="/login">Connectez-vous ici</a></p>
    <p>vous voulez supprimer un compte ? <a href="/delete">Cliquez ici</a></p>
</body>
</html>
