<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Supprimer un compte</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Supprimer un compte</h1>
    <form action="/delete" method="post">
        Identifiant: <input type="text" name="username" required><br>
        Mot de passe: <input type="password" name="password" required><br>
        <button type="submit">Supprimer</button>
    </form>
</body>
</html>
