<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Supprimer un compte</title>
    <link rel="icon" href="/icon.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Supprimer un compte</h1>
    <form action="/delete" method="post">
        Identifiant: <input type="text" name="username" required><br>
        Mot de passe: <input type="password" name="password" required><br>
        <button type="submit">Supprimer</button>
    </form>
    <h3>Liste des utilisateurs :</h3>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.username %></li>
        <% }); %>
    </ul>
    <br>
    <p>Vous avez déjà un compte ? <a href="/">Cliquez ici</a> pour vous connecter.</p>
    <p>Vous voulez créer un compte ? <a href="/signup">Cliquez ici</a> pour en créer un.</p>
</body>
</html>
