<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Supprimer un compte</title>
    <link rel="stylesheet" href="/pages/style.css">
</head>
<body>
    <h1>Supprimer un compte</h1>
    <form action="/delete" method="post">
        Identifiant: <input type="text" name="username" required><br>
        Mot de passe: <input type="password" name="password" required><br>
        <button type="submit">Supprimer</button>
    </form>
    <h3>Liste des utilisateurs :</h3>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.username %></li>
        <% }); %>
    </ul>
    <br>
    <p><a href="/">Retour à la page de connexion</a></p>
</body>
</html>
